<h1>Devices</h1>
<a href="#/devices/new"><button type="button" class="btn btn-default btn-success">Add new device</button></a>
<hr />
<form class="form-inline">
  <div class="form-group">
    <label>Search</label>
    <input type="text" class="form-control" ng-model="searchText" placeholder="...">
  </div>
</form>
<table class="table table-striped">
	<thead>
	<tr>
		<th><var-name tag="device.image" show="Image" /></th>
		<th><var-name tag="device.name" show="Name" /></th>
		<th><var-name tag="device.platforms" show="Platforms" /></th>
		<th>Connections</th>
		<th>Sensors</th>
		<th>Exchange protocol</th>
		<th>Accessibility</th>
		<th>Feedback</th>
		<th>Actions</th>
		<th>Ratings</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="device in devices | filter:searchText">
		<td>
			<img ng-if="device.image" src="{{device.image}}" class="thumbnail device-list-img" />
		</td>
		<td><a href="/#/devices/{{device.id}}">{{device.name}}</a></td>
		<td>
			<button ng-repeat="platform in device.platforms" type="button" class="btn btn-warning btn-sm">{{platform.name}}</button>
		</td>
		<td>
			<button ng-repeat="o in device.connections" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
		</td>
		<td>
			<button ng-repeat="o in device.sensors" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
		</td>
		<td>
			<button ng-repeat="o in device.dataexchangeprotocols" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
		</td>
		<td>
			<button ng-repeat="o in device.dataaccessibilities" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
		</td>
		<td>
			<button ng-repeat="o in device.feedbackmodes" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
		</td>
		<td>
			<button ng-click="delete(device)" type="button" class="btn btn-warning btn-sm">Delete</button>
			<a href="/#/devices/{{device.id}}/experiences/new"><button type="button" class="btn btn-success btn-sm">Add experience</button></a>
		</td>
		<td><strong ng-repeat="experience in device.experiences">{{experience.rating}}<span ng-show="!$last">, </span></strong></td>
	</tr>

	</tbody>
</table>
