<h2>{{device.name}}</h2>
<a href="#/devices/edit/{{device.id}}"><button type="button" class="btn btn-default btn-success">Edit</button></a>
<hr />
<img ng-if="device.image" src="{{device.image}}" class="thumbnail device-detail-img" />
<dl class="dl-horizontal">
  <dt>Application domain</dt>
  <dd>{{device.applicationDomain}}</dd>
  <dt>Commercially available</dt>
  <dd>{{device.commerciallyAvailable ? 'Yes' : 'No'}}</dd>
  <dt>Platforms</dt>
  <dd>
      <button ng-repeat="platform in device.platforms" type="button" class="btn btn-warning btn-sm">{{platform.name}}</button>
  </dd>
  <dt>Type</dt>
  <dd>
      <button ng-repeat="o in device.devicetypes" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
  </td>
  <dt>Connections</dt>
  <dd>
      <button ng-repeat="o in device.connections" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
  </dd>
  <dt>Data exchange protocol</dt>
  <dd>
      <button ng-repeat="o in device.dataexchangeprotocols" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
  </dd>
  <dt>Sensors</dt>
  <dd>
      <button ng-repeat="o in device.sensors" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
  </dd>
  <dt>Data accessibility</dt>
  <dd>
      <button ng-repeat="o in device.dataaccessibilities" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
  </dd>
  <dt>Feedback modes</dt>
  <dd>
      <button ng-repeat="o in device.feedbackmodes" type="button" class="btn btn-success btn-sm">{{o.name}}</button>
  </dd>
</dl>
<div class="well">
    {{device.remarks}}
</div>
<h3>Experiences</h3>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Rating</th>
		<th>email</th>
		<th>Date</th>
		<th>Remarks</th>
		<th>Contexts</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="experience in device.experiences">
        <td>
            <rating ng-model="experience.rating" max="10" readonly="true"></rating></td>
		<td>
			{{experience.userEmail}}
		</td>
		<td>
			{{experience.date | date : 'medium'}}
		</td>
		<td>
			{{experience.remarks}}
		</td>
		<td>
            <button ng-repeat="context in experience.contexts" type="button" class="btn btn-warning btn-sm">{{context.name}}</button>
        </td>
    <td>
        <a href="#/devices/{{device.id}}/experiences/edit/{{experience.id}}"><button type="button" class="btn btn-default btn-warning">Edit</button></a>
    </td>
	</tr>

	</tbody>
</table>
