<h1>Experiences</h1>
<form class="form-inline">
  <div class="form-group">
    <label>Search</label>
    <input type="text" class="form-control" ng-model="searchText" placeholder="...">
  </div>
</form>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Device</th>
        <th>Rating</th>
		<th>email</th>
		<th>Date</th>
		<th>Remarks</th>
		<th>Contexts</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="experience in experiences | filter:searchText">

		<td><a href="/#/devices/{{experience.device.id}}">{{experience.device.name}}</a></td>
		<td><rating ng-model="experience.rating" max="10" readonly="true"></rating></td>
		<td>
			{{experience.userEmail}}
		</td>
		<td>
			{{experience.date | date : 'medium'}}
		</td>
		<td>
			{{experience.remarks}}
		</td>
		<td>
            <button ng-repeat="context in experience.contexts" type="button" class="btn btn-warning btn-sm">{{context.name}}</button>
        </td>
		<td>
            <a href="/#/devices/{{experience.device.id}}/experiences/edit/{{experience.id}}"><button type="button" class="btn btn-warning btn-sm">Edit</button></a>
        </td>
	</tr>

	</tbody>
</table>