<h1>Add new experience for {{device.name}}</h1>
<form>
  <div class="form-group">
    <label>Your email</label>
    <input type="text" class="form-control" ng-model="experience.userEmail"/>
  </div>
  <div class="form-group">
    <label>Remarks</label>
    <textarea rows="5" class="form-control" ng-model="experience.remarks" />
  </div>
  <div class="form-group">
    <label>Context</label>
    <isteven-multi-select
      input-model="contexts"
      output-model="experience.contexts"
      button-label="name"
      item-label="name"
      tick-property="selected"
    ></isteven-multi-select>
  </div>
  <div class="form-group">
    <label>Overal rating</label>
    <rating ng-model="experience.rating" max="10"></rating>
  </div>

  <button type="submit" ng-click="save(experience)" class="btn btn-default">Save</button>
</form>
<div ng-repeat="(key, err) in error.errors" class="alert alert-warning" ng-if="error"><strong>{{key}}</strong> {{err}}</alert>
