<h1>{{device.id == null ? 'Add a new device' : 'Edit device details'}}</h1>
<form>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="device.name"/>
    <p class="help-block">{{varInfoText('device.name')}}</p>
  </div>
  <div class="form-group">
    <label>Application domain</label>
    <input type="text" class="form-control" ng-model="device.applicationDomain"/>
  </div>
  <div class="form-group">
    <label>Image url</label>
    <input type="text" class="form-control" ng-model="device.image"/>
  </div>
  <div class="form-group">
    <label>Remarks</label>
    <textarea rows="5" class="form-control" ng-model="device.remarks" />
  </div>
  <div class="form-group">
    <label>Commercially available</label>
    <input type="checkbox" ng-model="device.commerciallyAvailable" />
  </div>
  <div class="form-group">
    <label>Connections</label>
    <isteven-multi-select
      input-model="connections"
      output-model="device.connections"
      button-label="name"
      item-label="name"
      tick-property="ticked"
    ></isteven-multi-select>
  </div>
  <div class="form-group">
    <label>Data exchange protocols</label>
    <isteven-multi-select
      input-model="dataexchangeprotocols"
      output-model="device.dataexchangeprotocols"
      button-label="name"
      item-label="name"
      tick-property="ticked"
    ></isteven-multi-select>
  </div>
  <div class="form-group">
    <label>Sensors</label>
    <isteven-multi-select
      input-model="sensors"
      output-model="device.sensors"
      button-label="name"
      item-label="name"
      tick-property="ticked"
    ></isteven-multi-select>
  </div>
  <div class="form-group">
    <label>Data accessibility</label>
    <isteven-multi-select
      input-model="dataaccessibilities"
      output-model="device.dataaccessibilities"
      button-label="name"
      item-label="name"
      tick-property="ticked"
    ></isteven-multi-select>
  </div>
  <div class="form-group">
    <label>Feedback modes </label>
    <isteven-multi-select
      input-model="feedbackmodes"
      output-model="device.feedbackmodes"
      button-label="name"
      item-label="name"
      tick-property="ticked"
    ></isteven-multi-select>
  </div>
  <button type="submit" ng-click="save(device)" class="btn btn-default">Save</button>
</form>
<hr/>
<div ng-repeat="(key, err) in error.errors" class="alert alert-warning" ng-if="error"><strong>{{key}}</strong> {{err}}</alert>
