<h1>Add a new platform</h1>
<form>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="platform.name"/>
    <p class="help-block">Platform name.</p>
  </div>
  <div class="form-group">
    <label>url</label>
    <input type="text" class="form-control" ng-model="platform.url"/>
  </div>
  <button type="submit" ng-click="save(platform)" class="btn btn-default">Save</button>
</form>
<hr/>
<div ng-repeat="(key, err) in error.errors" class="alert alert-warning" ng-if="error"><strong>{{key}}</strong> {{err}}</div>
