<h1>Platforms</h1>
<a href="#/platforms/new"><button type="button" class="btn btn-default btn-success">Add new platform</button></a>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>url</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="platform in platforms">
		<td>{{platform.name}}</td>
		<td>
			<a href="{{platform.url}}">{{platform.url}}</button>
		</td>
		<td>
			<button ng-click="delete(platform)" type="button" class="btn btn-warning btn-sm">Delete</button>
		</td>

	</tr>
	</tbody>
</table>
