<h1>References</h1>
<a href="/#/references/new"><button class="button btn">Add new reference</button></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>url</th>
            <th>Refers to devices</th>
        <tr>
    </thead>
    <tbody>
        <tr ng-repeat="reference in references">
            <td><a href="/#/references/edit/{{reference.id}}">{{reference.title}}</a></td>
            <td>{{reference.authors}}</td>
            <td><a href="//{{reference.url}}">{{reference.url}}</a></td>
            <td><a ng-repeat="device in reference.refersToDevices" href="/#/devices/{{device.id}}">{{device.name}}</a></td>
        </tr>
    </tbody>
</table>
