<h1>{{reference.id == null ? 'Add a new reference' : 'Edit reference details'}}</h1>
<form>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" ng-model="reference.title"/>
    <p class="help-block">Reference title.</p>
  </div>
  <div class="form-group">
    <label>Authors</label>
    <input type="text" class="form-control" ng-model="reference.authors"/>
  </div>
  <div class="form-group">
    <label>url</label>
    <input type="text" class="form-control" ng-model="reference.url"/>
  </div>
  <div class="form-group">
    <label>Devices</label>
    <isteven-multi-select
      input-model="devices"
      output-model="reference.refersToDevices"
      button-label="name"
      item-label="name"
      tick-property="selected"
    ></isteven-multi-select>
  </div>

  <div class="form-group">
    <label>Remarks</label>
    <textarea rows="5" class="form-control" ng-model="reference.remarks" />
  </div>
  <button type="submit" ng-click="save(reference)" class="btn btn-default">Save</button>
</form>
<hr/>
<div ng-repeat="(key, err) in error.errors" class="alert alert-warning" ng-if="error"><strong>{{key}}</strong> {{err}}</alert>
