.device-list-img {
    max-width: 100px;
    height: auto;
}

.device-detail-img {
    max-width: 300px;
    height: auto;
}

.modal {
    display: block !important;
    overflow: visible !important;
}

.btn {
    margin: 2px;
}

.popover-accessible:after {
    content: "'"
}
